.row {
	padding-bottom: 10px;
}

.gigantic {
	font-size: 108px;
}

.cord-div {
	overflow: visible;
	margin-top: -50px;
	margin-bottom: -250px;
	height: 700px;
	width: 100%;
}

.list-inline-no-padding {
	padding-left: 2%;
}

.list-inline-no-padding > li{
	padding-left: 0px;
	padding-right: 0px;
}

.sm-only {
	display: none;
}

.lg-only {
	display: inherit;
}

.stat {
	display: none;
}

.employee-size {
	width: 50px;
	height: 150px;
}

.product-icon {
	/*height: 350px;*/
}

.infographic-icon {
	height: 400px;
	margin-left: 50px;
}

.employee-type {
	width: 400px;
	height: 400px;
}

.age-chart {

}

.awards {
	width: 300px;
	height: 300px;
}

.youtube {
	width: 1200px;
	height: 600px;
	visibility: hidden;
}

.funnel {
	width: 1200px;
	height: 600px;
}

.charity {
	width: 1200px;
	height: 600px;
}

.marble-container {
	height: 500px;
	width: 100%;
	overflow: hidden;
}

.marble-container > img {
	width: 55px;/*
	height: 30px;*/
	position: absolute;
}

.hand {
	z-index: 10;
}

.bio-collection {
	display: none;
}

.visible {
	display: inherit;
}

.hidden {
	display: none;
}

.marble-cluster {
	width: 100%;
	position: absolute;
}

.popover {
	max-width: 300px;
	margin-top: -5em;
	background-color: #22a0cc;
	border-radius: 0;
	color: white;
	-webkit-box-shadow: none;
    		box-shadow: none;
}

.popover-content {
  padding: 10px 10px;
}

.popover .arrow {
  border-width: 0px;
}

.popover .arrow:after {
  border-width: 15px;
  content: "";
}

.popover.right .arrow {
	top: 100%;
	left: -15px;
	margin-top: 0px;
	border-right-color: none;
	border-right-color: none;
	border-left-width: 0;
}

.popover.right .arrow:before {
	content:"";
	position:absolute;
	z-index:10;
	bottom:-20px;
	left:10px;
	width:30px;
	height:20px;
	border-style:solid;
	border-width:0 10px 5px 0;
	border-color:#22a0cc;
	background:#22a0cc;
	/* css3 */
	-webkit-border-bottom-right-radius:5em 5em;
	-moz-border-radius-bottomright:5em 5em;
	border-bottom-right-radius:5em 5em;
	/* reduce the damage in FF3.0 */
	display:block;
}

.popover.right .arrow:after {
	/*bottom: -10px;
	left: 1px;
	border-right-color: #22a0cc;
	border-left-width: 0;
	content: " ";*/
	content:"";
	position:absolute;
	z-index:10;
	bottom:-20px;
	left:10px;
	width:20px;
	height:20px;
	border-style:solid;
	border-width:0 10px 5px 0;
	border-color:#22a0cc;
	background:white;
	/* css3 */
	-webkit-border-bottom-right-radius:5em 5em;
	-moz-border-radius-bottomright:5em 5em;
	border-bottom-right-radius:5em 5em;
	/* reduce the damage in FF3.0 */
	display:block;
}

.popover.left .arrow {
	top: 100%;
	right: -15px;
	margin-top: 0px;
	border-right-color: none;
	border-right-color: none;
	border-left-width: 0;
}

.popover.left .arrow:before {
	content:"";
	position:absolute;
	z-index:10;
	bottom:-20px;
	right:10px;
	width:30px;
	height:20px;
	border-style:solid;
	border-width:0 0 5px 10px;
	border-color:#22a0cc;
	background:#22a0cc;
	/* css3 */
	-webkit-border-bottom-left-radius:5em 5em;
	-moz-border-radius-bottomleft:5em 5em;
	border-bottom-left-radius:5em 5em;
	/* reduce the damage in FF3.0 */
	display:block;

}

.popover.left .arrow:after {
	/*right: 1px;
	bottom: -10px;
	border-left-color: #22a0cc;
	border-right-width: 0;
	content: " ";*/
	content:"";
	position:absolute;
	z-index:10;
	bottom:-20px;
	right:10px;
	width:20px;
	height:20px;
	border-style:solid;
	border-width:0 0 5px 10px;
	border-color:#22a0cc;
	background:white;
	/* css3 */
	-webkit-border-bottom-left-radius:5em 5em;
	-moz-border-radius-bottomleft:5em 5em;
	border-bottom-left-radius:5em 5em;
	/* reduce the damage in FF3.0 */
	display:block;
}

div[id^='row'] {
	opacity:0;
}

@media (max-width: 1280px) {
	.cord-div {
		overflow: visible;
		margin-top: -60px;
		margin-bottom: -250px;
	}
}

@media (max-width: 980px) {
	.lg-only {
		display: none;
	}

	.sm-only {
		display: inherit;
	}

	.list-inline-no-padding {
		padding-left: 12%;
	}
}