.row {
	padding-bottom: 10px;
}

.gigantic {
	font-size: 108px;
}

.list-inline-no-padding {
	padding-left: 2%;
}

.list-inline-no-padding > li{
	padding-left: 0px;
	padding-right: 0px;
}

.sm-only {
	display: none;
}

.lg-only {
	display: inherit;
}

.stat {
	display: none;
}

.employee-size {
	width: 50px;
	height: 150px;
}

.product-icon {
	height: 350px;
}

.infographic-icon {
	height: 400px;
	margin-left: 50px;
}

.employee-type {
	width: 400px;
	height: 400px;
}

.age-chart {

}

.awards {
	width: 300px;
	height: 300px;
}

.youtube {
	width: 1200px;
	height: 600px;
}

.funnel {
	width: 1200px;
	height: 600px;
}

.charity {
	width: 1200px;
	height: 600px;
}

.marble-container {
	height: 500px;
	width: 100%;
	overflow: hidden;
}

.marble-container > img {
	width: 30px;
	height: 30px;
	position: absolute;
}

.hand {
	z-index: 10;
}

@media (max-width: 1280px) {
	
}

@media (max-width: 980px) {
	.lg-only {
		display: none;
	}

	.sm-only {
		display: inherit;
	}

	.list-inline-no-padding {
		padding-left: 12%;
	}
}