body {
	max-width: 1000px;
}

.full {
	width: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left-color: red;
	display: block;
}

.left {
	width: 25%;
	border-left: 1px solid blue;
	border-bottom: 1px solid blue;
	display: block;
}

.animated {
	-webkit-animation-duration: .75s;
	   -moz-animation-duration: .75s;
	     -o-animation-duration: .75s;
	        animation-duration: .75s;/*
	-webkit-animation-name: employee_fade;
	   -moz-animation-name: employee_fade;
	     -o-animation-name: employee_fade;
	        animation-name: employee_fade;*/
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

